body{

	background-image:url("https://i.ytimg.com/vi/mc0C0PM3JQs/maxresdefault.jpg");
	color:white 
}
h1{
color:white 	 
}
li{

	list-style-type:none;
	color:red;
	display:inline;  
	margin-left:30%;
	margin-right:70%;  
}
a{
	color:red;
}

